html,body {
    margin: auto;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
    overflow-x: hidden;
    background-color: #b1d4e0;
}
body .container {
    max-width: 1000px;
    margin: 30px auto;
}

aside {
    float: left;
    padding: 10px;
    margin-top: 100px;
    background-color: #f1f1f1;
    width: 700px;
    height: 1000px; 
}