*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,body{
    min-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 2vh;
    min-width: 100%;
    z-index: 10;
    background: #0f1423;
    border-bottom: 3px solid #0c2d48;
  }
  
  header .navigation .logo{
    margin-left: 25px;
    
  }
  
  header .navigation .logo h1 img {
    color: #b1d4e0;
    font-size: 50px;
    line-height: 60px;
  }
  
  header .navigation .menu-list {
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 45%;
    margin: auto 20px auto 0;
  }
  
  header .navigation .menu-list li a {
    color: #b1d4e0;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
    text-decoration: none;
  }
  