.video {
    column-count: 2;
    columns: 30em;
    justify-content: center;
    padding: 0 20px;
    margin-top: 1%;
    margin-bottom: 8%;
}
@media only screen and (max-width: 520px)
{
    .video {
	display: flex;
	flex-wrap: wrap;
    }
}
.video article {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 70px;
    margin-top: 10%;
    border: 1px solid inherit;
    border-radius: 4px;
}
